<!DOCTYPE html>
<html>
  <head>
    <title>Truck Aggregation</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/css/tabsforaccount.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
	<div>
	<div class="container" >
	    <div class="col-md-6" >
	        <div id="logbox" >
				<form action="/session/sendResetEmail" method="POST" class="form-signin">
					<h2 class="form-signin-heading"><u>Password Reset Form</u></h2>

					<% if(flash && flash.err) { %>
						<ul class="alert alert-success">
						<% Object.keys(flash.err).forEach(function(error) { %>
							<li> <%= JSON.stringify(flash.err[error]) %> </li>
						<% }) %>
						</ul>
					<% } %>
				    <div class="form-group">
				            <input type="text" class="input pass" placeholder="Email address" name="email" >
				    </div>
				    <input type="submit" class="inputButton" value="Reset Password" />
				</form>
			</div>
		</div>
	</div>
	</div>
</body>
</html>