


            <header class="fullscreen-element no-pad centered-text">
                <div class="background-image-holder parallax-background overlay">
                    <img class="background-image" alt="Background Image" src="/images/Montreal.jpg">
                </div>

                <div class="container align-vertical">
                    <div class="row">
                        <div class="col-md-12 text-center">
              <p class="lead text-white">.</p>
              <p class="lead text-white">.</p>
                            <span class="text-white alt-font">Hello</span>
                            <h1 class="text-white">This text has a bigger font <br>this may be removed</h1>
                            <p class="lead text-white">Text with smaller font</p>
              <p class="lead text-white">.</p>
              <p class="lead text-white">.</p>
              <p class="lead text-white">.</p>
              <p class="lead text-white">.</p>
              <p class="lead text-white">.</p>



              <input class="form-origin col-md-4 col-sm-4" type="text" placeholder="Origin address">
              <input class="form-destination col-md-4 col-sm-4" type="text" placeholder="Destination Address">
              <input type="submit" class="btn btn-primary" value="Submit" style="margin-bottom:30px;">


                        </div>
                    </div>
                </div>
            </header>
            
         <div class="footer-container">

            <footer class="short bg-secondary-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <span class="sub">© Copright 2014 Medium Rare</span>
                            <ul>
                                <li><a href="#">Terms Of Use</a></li>
                                <li><a href="#">Privacy &amp; Security Statement</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-2 text-right">
                            <ul class="social-icons">
                                <li>
                                    <a href="#">
                                        <i class="icon social_twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="icon social_facebook"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        